.sidebar {
    display: flex;
  width: 220px;
  height: 94.5vh;
  background: #1e293b;
  color: white;
  padding: 20px;
  transition: 0.3s;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 12px;
  cursor: pointer;
}

.sidebar li:hover {
  background: #334155;
}

/* Hamburger Button */
.hamburger {
  display: none;
  font-size: 28px;
  padding: 10px 15px;
  cursor: pointer;
  background: #1e293b;
  color: white;
}

/* Mobile View */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    z-index: 1000;
  }

  .sidebar.open {
    left: 0;
  }
}
